@charset "UTF-8";
/* Resets */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* con fontface podemos incluir fuentes personalizadas que tengamos en nuestra máquina */
@font-face {
  font-family: "PLAYLIST";
  src: url("./assets/webfonts_Playlist-Script/Playlist-Script.ttf.eot") format("eot"), url("./assets//webfonts_Playlist-Script/Playlist-Script.ttf.woff") format("woff"), url("./assets/webfonts_Playlist-Script/Playlist-Script.ttf.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

p,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

/* mixins */
/* Header */
.logo {
  width: 50px;
}

.inline-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
  border-bottom: black 1.5px solid;
}

.inline-menu input {
  margin: 15px;
  border-bottom: black solid;
}

.inline-menu button {
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 24px;
}

.inline-menu li {
  display: inline-block;
  font-size: 20px;
}

.inline-menu a {
  text-decoration: none;
  margin: 10px;
  color: #131312;
  padding-top: 5px;
}

.inline-menu a:hover {
  color: #ccb4ab;
}

.menu {
  display: none;
}

header img {
  width: 95%;
  margin: 0 15px 0;
}

/* Main */
main h2 {
  margin: 20px 0 20px 15px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

main .nombre {
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

main .vinilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
  margin: 5px;
}

main .vinilos img {
  width: 200px;
  height: 200px;
  display: block;
}

main .libros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px;
  margin: 15px;
}

main .libros img {
  width: 200px;
  height: 200px;
}

main .memorabilia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
  margin: 5px;
}

main .memorabilia img {
  width: 200px;
  height: 200px;
}

main .argenblues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .argenblues img {
  width: 200px;
  height: 200px;
}

main .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .show img {
  width: 200px;
  height: 200px;
}

.containerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40vh;
  padding-left: 20px;
  margin: 20px;
  border: solid 5px black;
  border-radius: 15px;
  padding: 50px;
}

.containerContact img {
  width: 120px;
  height: 120px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.containerContact h2 {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.containerContact h2 .especial {
  color: #131312;
  font-family: "PLAYLIST";
  font-size: 50px;
}

.containerContact input {
  display: block;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 18px;
  color: #131312;
  outline: none;
  border: none;
  background: transparent;
  color: #131312;
  border-bottom: 2px solid #131312;
}

.containerContact label {
  color: #131312;
}

.containerContact .btn {
  width: 150px;
  background-color: #131312;
  color: #ccb4ab;
  border-radius: 15px;
  margin-left: 20px;
}

.containerContact .btn:hover {
  background-color: #565758;
  color: #131312;
}

/* login */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.container .containerForm {
  border: solid 5px black;
  border-radius: 15px;
  padding: 40px;
}

.container .containerForm img {
  width: 100px;
  height: 100px;
  margin-left: 130px;
  margin-bottom: 20px;
  border-radius: 50px;
}

.container .containerForm h2 {
  text-align: center;
  color: #131312;
  font-family: "PLAYLIST";
  font-size: 50px;
}

.container .containerForm input {
  display: block;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  color: #131312;
  border-bottom: 2px solid #131312;
}

.container .containerForm .check {
  width: 15px;
  height: 15px;
  display: inline;
}

.container .containerForm a {
  text-decoration: none;
  color: #131312;
  margin-left: 40px;
}

.container .containerForm a:hover {
  color: #b74e34;
}

.container .containerForm label {
  color: #131312;
}

.container .containerForm .btn {
  width: 150px;
  background-color: #131312;
  color: white;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 90px;
}

.container .containerForm .btn:hover {
  background-color: #565758;
}

/* Footer */
footer {
  padding: 40px;
}

footer .especial {
  color: #131312;
  font-family: "PLAYLIST";
  font-size: 50px;
}

footer .containerFooter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: solid 1.5px black;
}

footer .nombre {
  width: 50%;
  margin-top: 40px;
}

footer .navegacionFooter {
  width: 40%;
  margin-left: 15px;
  margin-top: 20px;
}

footer .navegacionFooter li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

footer .navegacionFooter a {
  text-decoration: none;
  margin: 10px;
  color: #131312;
  padding-top: 5px;
}

footer .navegacionFooter a:hover {
  color: #ccb4ab;
}

footer .contactoFooter {
  width: 50%;
  margin-top: 20px;
}

footer .contactoFooter li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 40px;
  font-size: 15px;
  margin-top: 10px;
}

footer .redesFooter {
  width: 30%;
  margin-top: 20px;
}

footer .redesFooter img {
  margin-right: 10px;
  width: 40px;
}

/* Media queries */
/*# sourceMappingURL=style.css.map */