/* Resets */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* con fontface podemos incluir fuentes personalizadas que tengamos en nuestra máquina */
@font-face {
  font-family: "PLAYLIST";
  src:
      url("./assets/webfonts_Playlist-Script/Playlist-Script.ttf.eot") format("eot"),
      url("./assets//webfonts_Playlist-Script/Playlist-Script.ttf.woff") format("woff"),
      url("./assets/webfonts_Playlist-Script/Playlist-Script.ttf.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

$light-grey:  #979699;
$light-pink:  #ccb4ab;
$coral: #b74e34;
$dark-grey:  #565758;
$dark:  #131312 ;
p,
h2,
h3 {
  font-family: "Inter", sans-serif;
}


/* mixins */

@mixin forma {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@mixin fontNombre {
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
@mixin logoNombre {
  
    color: $dark;
    font-family: "PLAYLIST";
    font-size: 50px;
  
}

/* Header */
.logo {
  width: 50px;
}
.inline-menu {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  margin: 15px;

  border-bottom: black 1.5px solid;
  input {
    margin: 15px;
    border-bottom: black solid;
  }
  button {
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 24px;
  }

  li {
    display: inline-block;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    margin: 10px;
    color: $dark;
    padding-top: 5px;

    &:hover {
      color: $light-pink;
    }
  }
}
.menu {
  display: none;
}
header {
  img {
    width: 95%;
    margin: 0 15px 0;
  }
}

/* Main */

main {
  
  h2 {
    margin: 20px 0 20px 15px;
    @include fontNombre();
  }
  .nombre {
    @include fontNombre();
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .vinilos {
    @include forma();
    padding: 5px;
    margin: 5px;
    
    img {
      width: 200px;
      height: 200px;
      display: block;
    }
    
  }

  .libros {
    @include forma();
    padding: 15px;
    margin: 15px;
    
     img {
       width: 200px;
       height: 200px;
     }
  
  
  }
  .memorabilia {
    @include forma();
    padding: 5px;
    margin: 5px;
    img {
      width: 200px;
      height: 200px;

    }
  }
  .argenblues {
    @include forma();
    img {
      width: 200px;
      height: 200px;
    }
  }
  .show {
    @include forma();
    img {
      width: 200px;
      height: 200px;
    }
  }
}


// /* Contact */

.containerContact {
  @include forma();
  height: 40vh;
  padding-left: 20px;
  margin: 20px;
    border: solid 5px black;
    border-radius: 15px;
    padding: 50px;
    img {
      width: 120px;
      height: 120px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
     h2 {
       display:block;
       text-align:center;
       margin-bottom: 20px;
       .especial {
         @include logoNombre();
       }
     }
     input {
       display: block;
       width: 300px;
       height: 40px;
       margin-bottom: 20px;
       padding: 0 20px;
       font-size: 18px;
       color: $dark;
       outline: none;
       border: none;
       background: transparent;
       color: $dark;
       border-bottom: 2px solid $dark
     }
    
     label {
       color: $dark;
     }
     .btn {
       width: 150px;
       background-color: $dark;
       color: $light-pink;
       border-radius: 15px;
       margin-left: 20px;      
      &:hover {
         background-color: $dark-grey;
         color: $dark;
        
      }
     }
  }
 

/* login */


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .containerForm {
    border: solid 5px black;
    border-radius: 15px;
    padding: 40px;
    img {
      width: 100px;
      height: 100px;
      margin-left: 130px;
      margin-bottom: 20px;
      border-radius: 50px;
    }
    h2 {
      text-align: center;
      color: $dark;
      font-family: "PLAYLIST";
      font-size: 50px;
    }
    input {
      display: block;
      width: 300px;
      height: 40px;
      margin-bottom: 20px;
      padding: 0 15px;
      font-size: 18px;
      outline: none;
      border: none;
      background: transparent;
      color: $dark;
      border-bottom: 2px solid $dark;
    }
    .check {
      width: 15px;
      height: 15px;
      display: inline;
    }
    a {
      text-decoration: none;
      color: $dark;
      margin-left: 40px;
      &:hover {
        color: $coral;
      }
    }
    label {
      color: $dark;
    }
    .btn {
      width: 150px;
      background-color: $dark;
      color: white;
      border-radius: 15px;
      margin-top: 30px;
      margin-left: 90px;
      &:hover {
        background-color: $dark-grey;
        
      }
    }
  }
}

/* Footer */

footer {
  
  padding: 40px;
  .especial {
    @include logoNombre();
  }
  .containerFooter {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: solid 1.5px black;
  }
  .nombre {
    width: 50%;
    margin-top: 40px;
  }
  .navegacionFooter {
    width: 40%;
    margin-left: 15px;
    margin-top: 20px;
    li {
      display: flex;
      font-size: 15px;
    }
    a {
      text-decoration: none;
      margin: 10px;
      color: $dark;
      padding-top: 5px;
  
      &:hover {
        color: $light-pink;
      }
    }
    
  }
  .contactoFooter {
    width: 50%;
    margin-top: 20px;
    
    
     li {
       display: flex;
       justify-content: space-between;
       line-height: 40px;
       font-size: 15px;
       margin-top: 10px;
     }
  }
  .redesFooter {
    width: 30%;
    margin-top: 20px;
    img {
      margin-right: 10px;
      width: 40px;
    }
  }
}



/* Media queries */

