@charset "UTF-8";
/* Resets */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* con fontface podemos incluir fuentes personalizadas que tengamos en nuestra máquina */
@font-face {
  font-family: "PLAYLIST";
  src: url("./assets/webfonts_Playlist-Script/Playlist-Script.ttf.eot") format("eot"), url("./assets//webfonts_Playlist-Script/Playlist-Script.ttf.woff") format("woff"), url("./assets/webfonts_Playlist-Script/Playlist-Script.ttf.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

p,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

/* mixins */
/* Header */
.logo {
  width: 50px;
}

.inline-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px;
  border-bottom: black 1.5px solid;
}

.inline-menu input {
  margin: 15px;
  border-bottom: black solid;
}

.inline-menu button {
  font-size: 15px;
  border-radius: 5px;
  padding: 10px 24px;
}

.inline-menu li {
  display: inline-block;
  font-size: 20px;
}

.inline-menu a {
  text-decoration: none;
  margin: 10px;
  color: #131312;
  padding-top: 5px;
}

.inline-menu a:hover {
  color: #ccb4ab;
}

.menu {
  display: none;
}

header img {
  width: 95%;
  margin: 0 15px 0;
}

/* Main */
main {
  margin: auto;
}

main h2 {
  margin: 20px 0 20px 15px;
  font-weight: bold;
  text-transform: uppercase;
}

main .vinilos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
  margin: 5px;
}

main .vinilos img {
  width: 200px;
}

main .vinilos .nombre {
  font-weight: bold;
  text-transform: uppercase;
}

main .libros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5px;
}

main .libros img {
  width: 200px;
}

main .memorabilia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .memorabilia img {
  width: 50%;
}

main .argenblues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .argenblues img {
  width: 50%;
}

main .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .show img {
  width: 50%;
}

/* Aside */
/* Footer */
/* login */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.containerform {
  border: solid 5px black;
  border-radius: 15px;
  padding: 40px;
}

.containerform img {
  width: 100px;
  height: 100px;
  margin-left: 130px;
  margin-bottom: 20px;
  border-radius: 50px;
}

.containerform h2 {
  text-align: center;
  color: #131312;
  font-family: "PLAYLIST";
  font-size: 50px;
}

.containerform input {
  display: block;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 18px;
  outline: none;
  border: none;
  background: transparent;
  color: #131312;
  border-bottom: 2px solid #131312;
}

.containerform .check {
  width: 15px;
  height: 15px;
  display: inline;
}

.containerform a {
  text-decoration: none;
  color: #131312;
  margin-left: 40px;
}

.containerform a:hover {
  color: #b74e34;
}

.containerform label {
  color: #131312;
}

.containerform .btn {
  width: 150px;
  background-color: #131312;
  color: white;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 90px;
}

.containerform .btn:hover {
  background-color: #565758;
}

/* Media queries */
/*# sourceMappingURL=style.css.map */